@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Bebas Neue", cursive;
  font-size: 16px;

  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  border: 4px transparent black;
  position: fixed;
  width: 100%;
  height: auto;
}
header h1 {
  background-image: url(/assets/images/Codify.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
  width: 100%;
  height: 50px;
}

h2 {
  background-image: url(/assets/images/codify-black.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}

h3 {
  font-size: 2rem;
}
span {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 10px;
}
ul li a {
  color: black;
  text-decoration: none;
}

#hamburger div {
  display: none;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  #navBar {
    display: none;
  }
  #hamburger div {
  display: block;
  }
  #navBar li {
    display: block;
    border-bottom: solid 1px black;
    margin: 0;
    color: black;
    background-color: rgb(255 255 255 / 0%);
    opacity: 90%;
    text-decoration: none;
  }

  #toggle:checked + #navBar {
    display: block;
  }
}
